# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# env
.env
.env.*
!.env.example

# prisma local db
*.db
*.db-journal
dev.db
dev.db-journal

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# cache
.turbo/
.vercel/
.tmp/
.swc/
coverage/

# typescript
*.tsbuildinfo
tsconfig.tsbuildinfo

# os
.DS_Store
Thumbs.db